$primary-color-dark: #a4670c;
$primary-color: #f3b455;
$primary-color-light: #f9d7a4;

$second-color-dark: #383a3c;
$second-color: #71767a;
$second-color-light: #a5a9ac;

$third-color-dark: #bbbbbb;
$third-color: #ffffff;

$bt-border-color: #c2cbd2;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: $primary-color;
}
