#logo {
  width: 200px;
  vertical-align: middle;
  margin: 3px 21px;
}
header {
  nav {
    div {
      float: left;
      width: 240px;
      height: 90px;
      margin: 0 0px 0 100px;
      background-color: $primary-color;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }

  div {
    p {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 30px;
    }

    button {
      margin-top: 30px;
      margin-bottom: 200px;
      font-size: 200%;
      width: 350px;
      height: 100px;
      font-weight: 550;
      color: $second-color-dark;
      @include buttons;
      &:hover {
        @include buttonHover;
      }
    }
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  margin: 15px -5px;
}

.flexboxItem {
  margin: 0px 25px;
  font-size: 35px;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(5, 200px);
  gap: 27px;
  margin: 100px auto;
  justify-content: center;
  grid-area: "productGrid";
  .grid-item {
    background-color: $third-color;
    border: 4px solid $third-color-dark;
    .productImg {
      width: 120px;
      height: 120px;
      margin: 10px;
    }
    .productDescript {
      justify-self: center;
    }
  }
}
.productDetails {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: 3fr 1fr;
}

.arrow-icon {
  width: 75px;
  height: auto;
  &-left {
    position: absolute;
    top: 50%;
    transform: translate(-50% -50%);
    left: 5%;
  }
  &-right {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(50% -50%);
  }
  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

#arrowButt {
  &-left {
    grid-area: "left-arrow";
    opacity: 0.5;
    cursor: no-drop;
  }
  &-right {
    grid-area: "right-arrow";
    cursor: pointer;
  }
}

.icon {
  fill: $second-color-light;
  width: 30px;
  height: 30px;
  &:hover {
    transition: 0.3s;
    transform: scale(1.2);
  }
  &-facebook {
    &:hover {
      fill: #1877f2;
    }
  }
  &-instagram {
    &:hover {
      fill: #e4405f;
    }
  }
  &-twitter {
    &:hover {
      fill: #1da1f2;
    }
  }
  &-discord {
    &:hover {
      fill: #7289da;
    }
  }
}

.footer {
  padding: 15px;
  position: relative;
  bottom: 0;
  display: grid;
  color: $second-color-light;
  background-color: $second-color-dark;
  width: 100%;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
  grid-template-areas:
    "icon links right-side"
    "content";
  &-item {
    &-1 {
      grid-area: "icon";
      align-self: end;
      justify-self: start;
    }
    &-2 {
      grid-area: "links";
      align-self: end;
      justify-self: center;
    }
    &-3 {
      grid-area: "right-side";
    }
    &-4 {
      grid-column: 1 / -1;
      grid-area: "content";
      justify-self: center;
      align-self: end;
    }
  }
}

.listItem {
  list-style: none;
  display: inline;
  margin: auto 4px;
}

.footer-links {
  @include linkUnderline;
  color: $second-color-light;
}
