@mixin linkUnderline {
  text-decoration: none;
}

@mixin buttons {
  border-radius: 100px;
  background-color: $primary-color;
  border: 4px solid $bt-border-color;
  outline: none;
}

@mixin buttonHover {
  border-radius: 100px;
  background-color: $bt-border-color;
  border: 4px solid $primary-color;
  cursor: pointer;
  outline: none;
}
