@mixin linkUnderline {
  text-decoration: none;
}

@mixin buttons {
  border-radius: 100px;
  background-color: $primary-color;
  border: 4px solid $bt-border-color;
  outline: none;
}

@mixin buttonHover {
  border-radius: 100px;
  background-color: $bt-border-color;
  border: 4px solid $primary-color;
  cursor: pointer;
  outline: none;
  transition: 0.4s ease-in-out;
  color: $primary-color-dark;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //37.5em -> 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    //56.25em->900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //75em->1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
}
