*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: #f3b455; }

body header {
  background-image: url(/src/img/27368508_2076862719202165_7444710958030010926_o.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px; }
  body header nav {
    width: 100%;
    height: 100px;
    display: inline-block;
    position: fixed;
    background-color: rgba(113, 118, 122, 0.5);
    color: #c8dad9;
    z-index: 100; }
    body header nav a {
      text-decoration: none;
      color: #c8dad9; }

body footer {
  background-color: #71767a; }
  body footer a {
    text-decoration: none; }

.fakeNav {
  height: 200px; }

.headerCont {
  justify-content: left;
  margin: 0px 0px 20px 54px;
  width: 650px;
  color: #666666;
  line-height: 50px; }

.productGrid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas: "left-arrow productGrid left-arrow"; }

#grid-container-right {
  display: none; }

#logo {
  width: 200px;
  vertical-align: middle;
  margin: 3px 21px; }

header nav div {
  float: left;
  width: 240px;
  height: 90px;
  margin: 0 0px 0 100px;
  background-color: #f3b455;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

header div p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px; }

header div button {
  margin-top: 30px;
  margin-bottom: 200px;
  font-size: 200%;
  width: 350px;
  height: 100px;
  font-weight: 550;
  color: #383a3c;
  border-radius: 100px;
  background-color: #f3b455;
  border: 4px solid #c2cbd2;
  outline: none; }
  header div button:hover {
    border-radius: 100px;
    background-color: #c2cbd2;
    border: 4px solid #f3b455;
    cursor: pointer;
    outline: none;
    transition: 0.4s ease-in-out;
    color: #a4670c; }

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  margin: 15px -5px; }

.flexboxItem {
  margin: 0px 25px;
  font-size: 35px; }

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(5, 200px);
  gap: 27px;
  margin: 100px auto;
  justify-content: center;
  grid-area: "productGrid"; }
  .grid-container .grid-item {
    background-color: #ffffff;
    border: 4px solid #bbbbbb; }
    .grid-container .grid-item .productImg {
      width: 120px;
      height: 120px;
      margin: 10px; }
    .grid-container .grid-item .productDescript {
      justify-self: center; }

.productDetails {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: 3fr 1fr; }

.arrow-icon {
  width: 75px;
  height: auto; }
  .arrow-icon-left {
    position: absolute;
    top: 50%;
    transform: translate(-50% -50%);
    left: 5%; }
  .arrow-icon-right {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(50% -50%); }
  .arrow-icon:hover {
    transform: scale(1.1);
    transition: 0.3s; }

#arrowButt-left {
  grid-area: "left-arrow";
  opacity: 0.5;
  cursor: no-drop; }

#arrowButt-right {
  grid-area: "right-arrow";
  cursor: pointer; }

.icon {
  fill: #a5a9ac;
  width: 30px;
  height: 30px; }
  .icon:hover {
    transition: 0.3s;
    transform: scale(1.2); }
  .icon-facebook:hover {
    fill: #1877f2; }
  .icon-instagram:hover {
    fill: #e4405f; }
  .icon-twitter:hover {
    fill: #1da1f2; }
  .icon-discord:hover {
    fill: #7289da; }

.footer {
  padding: 15px;
  position: relative;
  bottom: 0;
  display: grid;
  color: #a5a9ac;
  background-color: #383a3c;
  width: 100%;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
  grid-template-areas: "icon links right-side" "content"; }
  .footer-item-1 {
    grid-area: "icon";
    align-self: end;
    justify-self: start; }
  .footer-item-2 {
    grid-area: "links";
    align-self: end;
    justify-self: center; }
  .footer-item-3 {
    grid-area: "right-side"; }
  .footer-item-4 {
    grid-column: 1 / -1;
    grid-area: "content";
    justify-self: center;
    align-self: end; }

.listItem {
  list-style: none;
  display: inline;
  margin: auto 4px; }

.footer-links {
  text-decoration: none;
  color: #a5a9ac; }
